---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page, .archive {
    width: initial;
    padding: 0 50px;
    float: initial;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination--pager {
    width: 45%;
}

.pagination--pager:first-child {
    margin-right: 10px;
}

.pagination--pager:last-child {
    margin-left: 10px;
}

.footer-container {
    display: flex;
}

.page__footer-copyright {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.footer-btns .pagination--pager {
    padding: 10px 15px;
    width: initial;
    font-size: 16px;
}

.splash {
    padding: 30px;
}
